* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: $gray;
  transition: all .4s ease-in-out;
  cursor: pointer;
  &:hover{
      color: darken($purple,10%);
  }
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}

//Buttons
%btn {
  height: 6rem;
  border: none;
  border-radius: 3rem;
  transition: all .4s ease-in-out
}
.btn {
  &Demo {
    @extend %btn;
    color: $blue;
    background-color: $white;
    &:hover {
      background-color: $purple;
      color: $white
    }
  }
  &Learn1 {
    @extend %btn;
    color: $white;
    background-color: $purple;
    &:hover {
      background-color: $white;
      color: $purple
    }
  }
  &Learn2 {
    @extend %btn;
    color: $white;
    background-color: $pink;
    &:hover {
      background-color: $white;
      color: $purple
    }
  }
}
.fs-{
    &14{
        font-size: 1.4rem !important;
    }
    &16{
        font-size: 1.6rem !important;
    }
    &18{
        font-size: 1.8rem !important;
    }
    &20{
        font-size: 2rem !important;
    }
    &35{
        font-size: 3.5rem !important;
    }
    &40{
        font-size: 4rem !important;
    }

    &80{
        font-size: 8rem !important;
    }
}